@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: #d7af8c;
  color: #3b2211;
}


